 
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.ui-responsive  {
 
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(57,57,57) 100%) !important;
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(57,57,57) 100%) !important;
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(57,57,57) 100%) !important;
  box-shadow: inset 0px 4px 0px 0px rgba(120, 120, 120, 0.392) !important;
  
    background-image:-webkit-gradient(
        linear    ,
        left top     ,
        left bottom     ,
        color-stop(0,rgb(232, 21, 21) )  ,
        color-stop(0,  rgb(0,0,0)) 
    ) !important;
	
}

   
.ui-bar-a {
	 border:none !important;
 }
 
 
.ui-btn-corner-all {
	-moz-border-radius: 0em  !important;
	-webkit-border-radius: 0em  !important;
	border-radius: 0em  !important;
}
 

 .ui-corner-all {
	-moz-border-radius: .0em  !important;
  	-webkit-border-radius: .0em  !important;
  	border-radius: .0em  !important;  
}
 
 
 
.ui-mobile label, .ui-controlgroup-label {
 display: initial  !important;
 margin: 0 0 0  !important; 
}
 
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  text-shadow: none !important;  
}
 
.ui-listview>li>a.ui-btn {
text-shadow:none;
border: 1px solid #000 !important; /* stroke */
background-color: #101010 !important; /* layer fill content */
-moz-box-shadow: inset 0 1px 0 #626161 !important; /* inner shadow */
-webkit-box-shadow: inset 0 1px 0 #626161 !important; /* inner shadow */
box-shadow: inset 0 1px 0 #626161 !important; /* inner shadow */
background-image: url(data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDMyMCAyNiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDEwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjM2QzZDNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIzMjAiIGhlaWdodD0iMjYiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==) !important; /* gradient overlay */
background-image: -moz-linear-gradient(bottom, #010000 0%, #3d3d3d 100%) !important; /* gradient overlay */
background-image: -o-linear-gradient(bottom, #010000 0%, #3d3d3d 100%) !important; /* gradient overlay */
background-image: -webkit-linear-gradient(bottom, #010000 0%, #3d3d3d 100%) !important; /* gradient overlay */
background-image: linear-gradient(bottom, #010000 0%, #3d3d3d 100%) !important; /* gradient overlay */
color: rgb(184, 184, 184);
}

 

.ui-listview>li>a.ui-btn:Hover {
	background-color: #CCC !important; /* layer fill content */
	background-image:none !important;
	color:#000 !important;;
	
}

.ui-mobile label, div.ui-controlgroup-label {
  font-weight: 0 !important; 
  
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit
{
	text-shadow: none !important; 
}

 
.footer-main {
position: relative;
height: 170px;
bottom: 0;
right: 0;
left: 0;
border: 1px solid #000;
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…AiIHdpZHRoPSIzMjAiIGhlaWdodD0iMTcyIiBmaWxsPSJ1cmwoI2hhdDEpIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(bottom, #000 2.2%, #393939 102.2%), -moz-linear-gradient(bottom, #000 -94%, #3f3f3f 194%);
background-image: -o-linear-gradient(bottom, #000 2.2%, #393939 102.2%), -o-linear-gradient(bottom, #000 -94%, #3f3f3f 194%);
background-image: -webkit-linear-gradient(bottom, #000 2.2%, #393939 102.2%), -webkit-linear-gradient(bottom, #000 -94%, #3f3f3f 194%);
background-image: linear-gradient(to top, #000000 2.2%, #393939 102.2%), linear-gradient(to top, #000000 -94%, #3f3f3f 194%);
text-align: center;
}
* {
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
user agent stylesheetdiv {
display: block;
}


Inherited from div.ui-footer.ui-bar-inherit
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
	 border:none !important;
}

.ui-btn {
		 
text-shadow: none !important;
border: 1px solid #000 !important;
background-color: #101010 !important;
-moz-box-shadow: inset 0 1px 0 #626161 !important;
-webkit-box-shadow: inset 0 1px 0 #626161 !important;
box-shadow: inset 0 1px 0 #626161 !important;
background-image: url(data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIH…AiIHdpZHRoPSIzMjAiIGhlaWdodD0iMjYiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==) !important;
background-image: -moz-linear-gradient(bottom, #010000 0%, #3d3d3d 100%) !important;
background-image: -o-linear-gradient(bottom, #010000 0%, #3d3d3d 100%) !important;
background-image: -webkit-linear-gradient(bottom, #010000 0%, #3d3d3d 100%) !important;
background-image: linear-gradient(bottom, #010000 0%, #3d3d3d 100%) !important;
color: rgb(184, 184, 184);

 color: #CCC !important;
font-size: smaller !important;

}
 
 .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	 background-color:#000 !important;
	 
	 
 }